* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gray;
}

.main-visual {
	width: 100%;
	height: 400px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-title {
	padding: 20px;
}

.contents {
	width: 840px;
	margin: 50px auto;
}

.content-box {
	border-bottom: 1px solid gray;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

